ul {
    list-style-type: none;

    li {
        display: inline;
        text-transform: capitalize;
        a {
            color: #bebeff;
            text-decoration: none;
            font-weight: bold;
        }
    }
}